/*при написании кода руководствовался airbnb styleguide https://github.com/rtplv/airbnb-css-ru*/

/*@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;800&display=swap');*/

/*@import url(../css/font.css);*/

body {
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    color: #18191f
    margin: 0;    /*сброс отступов браузера*/
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;    /*сброс отступов браузера*/
}


.steps-img {
    display: inline-block;
    max-width: 445px;
    vertical-align: middle;
    height: 653px;
    margin-bottom: 53px;
    margin-right: 30px;
}

.container {
    /*нельзя в явном виде задавать ширину и высоту, ширина и высота будут задаваться за счет содержимого*/
    width: 1110px;    /*однако ширину мы задали???*/
    margin: 0 auto;
/*    background-color: aqua;*/
}

.steps-title {
    font-size: 48px;
    font-weight: 800;
    line-height: 64px; /*межстрочный интервал*/
}

.steps-description {
    display: inline-block;
    max-width: 625px;
    background-color: #F1E4FF;
    vertical-align: middle;
    margin-left: -3px;
    margin-top: 75px;
}

.steps-item__icon {
    display: inline-block;
/*    background-color:darkslategray;*/
    vertical-align: middle;
    margin-right: 70px;
}

.steps-item {
    display: inline-block;
    padding: 48px 80px;
}

.steps-item:hover {
    background-color: #8C30F5;
    color: #ffffff;
}

.steps-item:focus {

}

.steps-item__text {
    display: inline-block;
    max-width: 299px;
/*    background-color: burlywood;*/
    vertical-align: middle;
    margin-left: -4px;
}

.steps-item__text p {
    font-size: 14px;
    font-weight: 400;
}

.steps-item__text h3 {
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
}
