/*при написании кода руководствовался airbnb styleguide https://github.com/rtplv/airbnb-css-ru*/

/*@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;800&display=swap');*/

/*@import url(../css/font.css);*/

body {
    font-family: "Manrope";
    font-weight: 400;
    margin: 0;    /*сброс отступов браузера*/
}

h1, h2, p {
    margin: 0;    /*сброс отступов браузера*/
}

/*how-it-works start*/

#steps {
}

.container {
    /*нельзя в явном виде задавать ширину и высоту, ширина и высота будут задаваться за счет содержимого*/
    width: 1110px;    /*однако ширину мы задали???*/
    margin: 0 auto;
    background-color: aqua;
}

h2 {
    color: red;    
    background-color: green;
}

/*how-it-works end*/