@font-face {
  font-family: "GothamPro-Light";
  font-style: normal;
  font-weight: 300;
  src: local("GothamPro"), url("../fonts/GothamPro-Light.woff");
}

@font-face {
  font-family: "GothamPro-Medium";
  font-style: normal;
  font-weight: 400;
  src: local("GothamPro"), url("../fonts/GothamPro-Medium.woff");
}

@font-face {
  font-family: "GothamPro-Bold";
  font-style: normal;
  font-weight: 600;
  src: local("GothamPro"), url("../fonts/GothamPro-Bold.woff");
}

* {
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font: "GothamPro-Medium", sans-serif;
  font-size: 12px;
  background-color: #e5e5e5;
  color: #181818;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p {
  font-size: 14px;
}

.col img {
  padding: 20px 0;
}

.nav-item .nav-link {
  position: relative;
  padding: 52px 20px 17px 20px;
  text-transform: uppercase;
}

.nav-item img {
  position: absolute;
  top: 21px;
  left: 50%;
  margin-left: -12px;
}
